<div class="card">
    <div class="card-header">
        <h6 class="card-title"><i class="fas fa-list-alt"></i> Crear entrenamiento</h6> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
        <strong>Categoría:</strong> <select [(ngModel)]="ejercicio.categoria" (change)="limpiarEjercicio($event)" class="form-control">
            <option value="" disabled>Elige una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
        </select>
        <strong>Ejercicio:</strong> <select [(ngModel)]="ejercicio.id_ejercicio" (focus)="filtrarCategoria($event)"  (change)="cambiarEjercicio($event)" class="form-control">
            <option value="" disabled>Elige un ejercicio</option>
            <option *ngFor="let ejercicioLista of listaEjerciciosMostrar" [(value)]="ejercicioLista.id">{{ejercicioLista.nombre}}
            </option>
           
        </select><br>
        <button class="btn btn-info" (click)="addEjercicio()">Añadir ejercicio</button>
        
        <!--MODAL CREAR EJERCICIO-->

        <!-- Button trigger modal -->
        <button type="button" (click)="limpiarCampos()" class="btn btn-primary" data-toggle="modal" data-target="#crearEjercicio">
            Crear ejercicio
          </button>
          
          <!-- Modal -->
              <div class="modal fade" id="crearEjercicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Crear nuevo ejercicio</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Nombre: </p><input class="form-control" type="texto" [(ngModel)]="nuevoEjercicio.nombre">
                  <p>Categoría: </p>
                  <select class="form-control" [(ngModel)]="nuevoEjercicio.categoria">
                    <option *ngFor="let categoria of categorias" value="{{categoria}}">{{categoria}}</option>
                  </select>
                  <div *ngIf="mensajeModal!=''" class="alert alert-primary" role="alert">
                    {{mensajeModal}}
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                  <button type="button" (click)="crearEjercicio()" class="btn btn-info">Crear</button>
                </div>
              </div>
            </div>
          </div>

        <!--FIN MODAL CREAR EJERCICIO-->
    </div>
    <div class="col-md-6">
        <div style="display: flex; justify-content: space-between;">
          <div><label><strong>Series:</strong> </label><br><input select [(ngModel)]="ejercicio.series" class="form-control" type="number" placeholder="Series"></div>
          <div><label><strong>Reps:</strong> </label><input select [(ngModel)]="ejercicio.repeticiones" class="form-control" type="number" placeholder="Reps"></div>
          <div><label><strong>Peso:</strong> </label><input select [(ngModel)]="ejercicio.peso" class="form-control" type="number" placeholder="Peso (kg)"></div>
        </div>
        <div style="margin-top: 0.5em;" *ngIf="mensaje!=''" class="alert alert-primary" role="alert">
          {{mensaje}}
        </div>
  </div>
</div>
    </div>
    <ul *ngIf="ejerciciosETTO.length!=0" class="lista-ejercicios list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ejercicio of ejerciciosETTO">
          <div><img width="80px" src="assets/images/{{ejercicio.categoria}}.jpg" alt="{{ejercicio.categoria}}"></div>
          <div class="contenedor-tituloEjercicio"><span class="ejercicioNombre">{{ejercicio.nombre |titlecase}}</span><br><span class="ejercicioCategoria">{{ejercicio.categoria}}</span></div>
         <div class="contenedor-datosEjercicio">
           <div class="data-ejercicio"><div><strong>Series</strong></div><div>{{ejercicio.series}}</div></div> 
           <div class="data-ejercicio"><div><strong>Reps</strong></div><div>{{ejercicio.repeticiones}}</div></div> 
           <div class="data-ejercicio"><div><strong>Peso (kg)</strong></div><div>{{ejercicio.peso}}</div></div>
           <button (click)="borrarEjercicio(ejercicio)" title="Borrar" class="btn btn-danger"><i class="btn-borrar fas fa-trash-alt"></i></button>
         </div>
        </li>
    </ul>
    <div class="card-body final">
        <div class="row datos-ad">
            <div class="cold-md-9">
                <h6 class="card-title"><i class="fas fa-comment"></i> Comentario</h6>
                <textarea [(ngModel)]="comentario" cols="40" class="form-control"></textarea>
            </div>
        <div class="col-md-3">
          <div><h6 class="card-title"><i class="fas fa-weight"></i> Peso corporal (kg)</h6><input [(ngModel)]="pesoCorporal" select class="form-control" type="number" placeholder="Peso"></div>
    </div>
</div><br>
        <button (click)="crearEtto()" class="btn btn-info">Crear ETTO</button>
    </div>
</div>