<div class="card">
    <div class="card-header">
        <h6 class="card-title"><i class="fas fa-list-alt"></i> Crear entrenamiento</h6> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
        Categoría: <select [(ngModel)]="ejercicio.categoria" (change)="limpiarEjercicio($event)" class="form-control">
            <option value="" disabled>Elige una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
        </select>
        Ejercicio: <select [(ngModel)]="ejercicio.id_ejercicio" (focus)="filtrarCategoria($event)"  (change)="cambiarEjercicio($event)" class="form-control">
            <option value="" disabled>Elige un ejercicio</option>
            <option *ngFor="let ejercicioLista of listaEjerciciosMostrar" [(value)]="ejercicioLista.id">{{ejercicioLista.nombre}}
            </option>
           
        </select><br>
        <button class="btn btn-info" (click)="addEjercicio()">Añadir ejercicio</button>
        
        <!--MODAL CREAR EJERCICIO-->

        <!-- Button trigger modal -->
        <button type="button" (click)="limpiarCampos()" class="btn btn-primary" data-toggle="modal" data-target="#crearEjercicio">
            Crear ejercicio
          </button>
          
          <!-- Modal -->
              <div class="modal fade" id="crearEjercicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Crear nuevo ejercicio</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Nombre: </p><input class="form-control" type="texto" [(ngModel)]="nuevoEjercicio.nombre">
                  <p>Categoría: </p>
                  <select class="form-control" [(ngModel)]="nuevoEjercicio.categoria">
                    <option *ngFor="let categoria of categorias" value="{{categoria}}">{{categoria}}</option>
                  </select>
                  <div *ngIf="mensajeModal!=''" class="alert alert-primary" role="alert">
                    {{mensajeModal}}
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                  <button type="button" (click)="crearEjercicio()" class="btn btn-info">Crear</button>
                </div>
              </div>
            </div>
          </div>

        <!--FIN MODAL CREAR EJERCICIO-->
    </div>
    <div class="col-md-6">
        <label>Series: </label><input select [(ngModel)]="ejercicio.series" class="form-control" type="number" placeholder="Series">
        <label>Reps: </label><input select [(ngModel)]="ejercicio.repeticiones" class="form-control" type="number" placeholder="Reps">
        <label>Peso: </label><input select [(ngModel)]="ejercicio.peso" class="form-control" type="number" placeholder="Peso (kg)">
    </div>
    {{mensaje}}
</div>
    </div>
    <ul *ngIf="ejerciciosETTO.length!=0" class="lista-ejercicios list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ej of ejerciciosETTO">
            Cat: {{ej.categoria}} Ej: {{ej.nombre}} Series: {{ej.series}} Reps: {{ej.repeticiones}} Peso: {{ej.peso}}  <button (click)="borrarEjercicio(ej)" class="btn btn-danger">Borrar ejercicio</button>
        </li>
    </ul>
    <div class="card-body final">
        <div class="row datos-ad">
            <div class="cold-md-9">
                <h6 class="card-title"><i class="fas fa-comment"></i> Comentario</h6>
                <textarea [(ngModel)]="comentario" cols="40" class="form-control"></textarea>
            </div>
        <div class="col-md-3">
        <h6 class="card-title"><i class="fas fa-weight"></i> Peso corporal</h6><input [(ngModel)]="pesoCorporal" select class="form-control" type="number" placeholder="Peso">
    </div>
</div><br>
        <button (click)="crearEtto()" class="btn btn-info">Crear ETTO</button>
    </div>
</div>