<div class="card">
    <div class="card-header">
        <h5>Workout</h5>
        <div>
            <button class="btn btn-primary" (click)="editarEtto()"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger" (click)="borrarEtto()"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    <ul class="lista-ejercicios list-group list-group-flush">
        <li *ngFor="let ejercicio of entrenamiento.ejercicios" class="list-group-item">
         <div><img width="80px" src="assets/images/{{ejercicio.categoria}}.jpg" alt="{{ejercicio.categoria}}"></div>
         <div class="contenedor-tituloEjercicio"><span class="ejercicioNombre">{{ejercicio.nombre |titlecase}}</span><br><span class="ejercicioCategoria">{{ejercicio.categoria}}</span></div>
        <div class="contenedor-datosEjercicio">
          <div class="data-ejercicio"><div><strong>Series</strong></div><div>{{ejercicio.series}}</div></div> 
          <div class="data-ejercicio"><div><strong>Reps</strong></div><div>{{ejercicio.repeticiones}}</div></div> 
          <div class="data-ejercicio"><div><strong>Peso (kg)</strong></div><div>{{ejercicio.peso}}</div></div>
        </div>
        </li>
    </ul>
    <div class="card-body">
        <h6 class="card-title">Peso corporal (kg)</h6>
        <p>{{entrenamiento.pesoCorporal}}</p>
        <h6 class="card-title">Comentario</h6>
        <p>{{entrenamiento.comentario}}</p>
    </div>
</div>
