<div class="card">
    <div class="card-header">
        <h5>Workout</h5>
        <div>
            <button class="btn btn-primary"><i class="fas fa-edit"></i> </button>
            <button class="btn btn-danger" (click)="borrarEtto()"><i class="fas fa-trash-alt"></i> </button>
        </div>
    </div>
    <ul class="lista-ejercicios list-group list-group-flush">
        <li *ngFor="let ejercicio of entrenamiento.ejercicios" class="list-group-item">
            Cat: {{ejercicio.categoria}} Ej: {{ejercicio.nombre}} Series: {{ejercicio.series}} Reps: {{ejercicio.repeticiones}} Peso: {{ejercicio.peso}}
        </li>
    </ul>
    <div class="card-body">
        <h6 class="card-title">Peso corporal (kg)</h6>
        <p>{{entrenamiento.pesoCorporal}}</p>
        <h6 class="card-title">Comentario</h6>
        <p>{{entrenamiento.comentario}}</p>
    </div>
</div>
