<div class="card">
    <div class="card-header">
        <h6>Intensidad de entrenamiento</h6>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
        ngbPopover="Cada barra corresponde a un etto concreto. Por defecto se muestra el histórico total. Puedes filtrar por categoría y/o mes">
        <i class="text-white fas fa-info-circle"></i>
    </button>
    </div>
    <div class="card-body">
        <div width="100%">
            <canvas id="intensidad"></canvas>
        </div>
        <div class="row">
            <div class="col-md-4">
            Categorías: <select (change)="filtrarMeses()" [(ngModel)]="categoriaFiltro" class="form-control">
                <option value="">TODAS</option>
                <option *ngFor="let categoria of categorias" value="{{categoria}}">{{categoria}}</option>
            </select>
            </div>
            <div class="col-md-4">
            Meses: <select  [(ngModel)]="mesFiltro" class="form-control">
                <option value="">TODOS</option>
                <option *ngFor="let mes of mesesFiltrado" value="{{mes}}">{{mes}}</option>
            </select>
            </div>
            <div class="col-md-4">
               <br><button (click)="filtrarData()" class="btn btn-principal btn-block">Filtrar</button>
            </div>
            </div>
    </div>
</div>