::placeholder {
  color: black;
}

p {
  color: white;
}

input {
  padding: 0 1em;
  font-size: 14px;
}

.chat {
  max-height: 330px;
  overflow-y: auto;
}

.lista-amigos {
  max-height: 410px;
  overflow-y: auto;
}

.chat::-webkit-scrollbar,
.lista-amigos::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.chat::-webkit-scrollbar-track,
.lista-amigos::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

.chat::-webkit-scrollbar-thumb,
.lista-amigos::-webkit-scrollbar-thumb {
  background-color: #fed8b1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

.img-thumbnail {
  background: rgb(185, 34, 195);
  background: linear-gradient(
    0deg,
    rgba(185, 34, 195, 1) 0%,
    rgba(45, 253, 198, 1) 100%
  );
}

.img-user {
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

.img-user-chat {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin-right: 1em;
  margin-top: 1em;
}

.btns-friend {
  text-align: right;
}

.data-email {
  font-size: 12px;
  font-style: italic;
}

.container-friend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  background-color: #9a239e;
  color: white;
}

.icono {
  color: #95eb3a;
}

.card {
  color: black;
  background-color: orange;
}

.list-group-item {
  background-color: #fed8b1;
  color: black;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  margin: 0.5em;
}

li {
  text-decoration: none;
}

.fa-comments {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.fa-comments .badge {
  position: absolute;
  top: -20px;
  right: -22px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.mensajeRemitente {
  margin-left: 4em;
  background-color: #cb88eb;
}

.mensajeUsuario {
  margin-right: 4em;
}

.btn-principal {
  background-color: #9a239e;
  color: white;
}

.btn-principal:hover {
  background-color: #8a018f;
}

.btn-secundario {
  background-color: #d519db;
  color: white;
}

.btn-secundario:hover {
  background-color: #bb24c1fd;
}

.btn-cancel {
  background-color: #e04b10;
  color: white;
}

.btn-cancel:hover {
  background-color: #bd491b;
}

.alert {
  background-color: #e04b10;
  color: white;
}
