<div class="video-background">
    <video id="bgvid" width="100%" [muted]="true" [autoplay]="true" [loop]="true">
        <source  src="../../../../assets/videos/video_login2.m4v" type="video/mp4"/>
    </video>
</div>
<div id="container-login" class="container mx-auto m-4" style="width: 40vh;">
    <div id="login">
    <div class="card">
        <div class="card-header h5 text-center"><h4>Login</h4></div>
        <div class="card-body">
            <form [formGroup]="formLogin" (submit)="submit()">
                <input class="form-control" type="text" formControlName="email" placeholder="Email"><br>
                <input class="form-control" type="password" formControlName="password" placeholder="Password"><br>
                <button class="btn btn-principal btn-block" [disabled]="formLogin.invalid" type="submit">Login</button>
            </form>
        </div>
    </div>
    <div class="alert mt-2" role="alert" *ngIf="mensaje">
        <strong>{{mensaje}}</strong>
    </div>
    </div>
    </div>
    