    <div class="card">
        <div class="card-header"><h6>Volumen</h6></div>
        <div class="card-body">
            <div width="100%">
                <canvas id="volumen"></canvas>
            </div>
            <div class="row">
                <div class="col-md-4">
                Categorías: <select (change)="filtrarMeses()" [(ngModel)]="categoriaFiltro" class="form-control">
                    <option value="">TODAS</option>
                    <option *ngFor="let categoria of categorias" value="{{categoria}}">{{categoria}}</option>
                </select>
                </div>
                <div class="col-md-4">
                Meses: <select  [(ngModel)]="mesFiltro" class="form-control">
                    <option value="">TODOS</option>
                    <option *ngFor="let mes of mesesFiltrado" value="{{mes}}">{{mes}}</option>
                </select>
                </div>
                <div class="col-md-4">
                   <br><button (click)="filtrarData()" class="btn btn-info btn-block">Filtrar</button>
                </div>
                </div>
        </div>
    </div>