.datepicker {
  background-color: orange;
  box-shadow: 11px 18px 7px -2px rgba(0, 0, 0, 0.1);
}

.ngb-dp-weekdays,
.ngb-dp-header {
  background-color: #9a239e !important;
}

.ngb-dp-day:active {
  background-color: greenyellow;
}

.bg-primary {
  background-color: #d519db !important;
}

.container-home {
  display: flex;
  flex-wrap: wrap;
}
