<div class="container pb-5">
<div class="container-home row mt-5">
    <div class="col-md-3">
<ngb-datepicker class="datepicker" #dp [(ngModel)]="calendario" (click)="checkTipoVistaEtto()" (navigate)="date = $event.next"></ngb-datepicker>
    </div>
    <div class="col-md-9">
        <app-workout-detail (changeComponent)="changeComponent($event)" [fecha]="calendario" *ngIf="tipoVistaEtto=='detail'"></app-workout-detail>
        <app-workout-create (changeComponent)="changeComponent($event)" [fecha]="calendario" *ngIf="tipoVistaEtto=='create'"></app-workout-create>
        <app-workout-update (changeComponent)="changeComponent($event)" [fecha]="calendario" *ngIf="tipoVistaEtto=='update'"></app-workout-update>
    </div>
</div>
</div>