* {
  box-sizing: border-box;
}

.lista-ejercicios {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  margin-left: 4.5em;
  margin-right: 4.5em;
}

.lista-ejercicios::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.lista-ejercicios::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

.lista-ejercicios::-webkit-scrollbar-thumb {
  background-color: #fed8b1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

.card-header {
  display: flex;
  justify-content: space-between;
}

::placeholder {
  color: white;
}

input {
  padding: 0 1em;
  font-size: 14px;
}

.card-header,
.modal-header {
  background-color: #9a239e;
  color: white;
}

.icono {
  color: #95eb3a;
}

.card,
.modal-body,
.modal-footer {
  color: black;
  background-color: orange;
}

.list-group-item {
  background-color: #fed8b1;
  color: black;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  margin: 0.5em;
}

li {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.datos-ad {
  display: flex;
  justify-content: space-between;
  margin-left: 0.2em;
}

img {
  border-radius: 50%;
}

.ejercicioNombre {
  font-size: 16px;
  font-weight: bold;
}

.ejercicioCategoria {
  font-size: 14px;
  font-style: italic;
}

.contenedor-datosEjercicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-tituloEjercicio {
  text-align: center;
}

.data-ejercicio {
  background-color: white;
  margin: 0 1em;
  padding: 0.5em 0.5em;
  border-radius: 15%;
  text-align: center;
}

.btn-principal {
  background-color: #9a239e;
  color: white;
}

.btn-principal:hover {
  background-color: #8a018f;
}

.btn-secundario {
  background-color: #d519db;
  color: white;
}

.btn-secundario:hover {
  background-color: #bb24c1fd;
}

.btn-cancel {
  background-color: #e04b10;
  color: white;
}

.btn-cancel:hover {
  background-color: #bd491b;
}

.alert {
  color: white;
  background-color: #e04b10;
}
