.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header {
  background-color: #9a239e;
  color: white;
}

.card {
  color: black;
  background-color: #fed8b1;
}

.card-body {
  color: black;
  background-color: #fed8b1;
}

.card-body > p {
  color: black;
  background-color: #fed8b1;
  padding: 1em 1em;
  border-radius: 5px;
}

.btn-principal {
  background-color: #9a239e;
  color: white;
}

.btn-principal:hover {
  background-color: #8a018f;
}
