<div class="container pb-5">
    <div class="presentacion row">
        <h1 class="titulo">Hola, soy Javier</h1>
        <div class="subtitulo"><h3>Desarrollador web 💻 Web developer</h3></div>
        <h5 class="descripcion">Soy un apasionado de la tecnología, y disfruto aprendiendo y mejorando cada día. Decidí reorientar mi carrera profesional hacia algo que me apasionaba, y me gustaría encontrar una oportunidad para crecer junto a un gran equipo.</h5>
    </div>
    <div class="row">
    <app-map></app-map>
    </div>
</div>
